/* CSS Reset  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
    color: white;
}
#home{
    margin-left: 10%;
    margin-right: 10%;
    border: 2px solid black;
}
#corousel{
    height: 40vh;
    width: 98%;
    margin: 1%;
    border: 2px solid #92000a;
    display: inline-block;
}
#latest_news{
    margin: 1%;
    display: inline-block;
    border: 2px solid #92000a;
    background-color: black;
    border-radius: 20px;
    height: 40vh;
    width: 98%;
}
h2{
    background-color: #92000a;
    text-align: center;
    padding: 1%;
    color: white;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.item ul{
    margin: 1%;
    list-style: none;
}
.item ul li{
    padding: 2%;
}
li:hover{
    cursor: pointer;
    color: #c38e3c;
}
.row{
    display: flex;
}
.item{
    width: 48%;
    margin: 1%;
    display: inline-block;
    border: 2px solid #92000a;
    background-color: black;
    border-radius: 20px;
    height: 100%;
}